<footer class="gradient-x-overlay-sm-primary bg-dark overflow-hidden" style="overflow: hidden">
  <div class="container content-space-t-2 content-space-b-1">

    <!-- CTA -->
    <div class="row justify-content-md-between align-items-md-center text-center text-md-start">
      <div class="col-md mb-3 mb-md-0">
        <h4 class="text-white">Your trusted ICT support desk. Need help?</h4>
      </div>

      <div class="col-md-auto">
        <div class="d-grid d-sm-flex justify-content-sm-center align-items-sm-center gap-3">
          <a routerLink="/report-issue" routerLinkActive="active" class="btn btn-primary btn-transition">Report an issue</a>
          <small class="text-white-50">or</small>
          <a routerLink="/admin/login" routerLinkActive="active" class="btn btn-outline-light btn-transition">Admin</a>
        </div>
      </div>
    </div>
    <!-- End CTA -->

    <hr class="my-9" style="border-color: rgba(255,255,255,.15);">

    <!-- Content -->
    <div class="row">
      <div class="col-6 col-md-3 order-md-2 mb-7 mb-md-0">
        <h5 class="text-white">Quick links</h5>

        <ul class="list-unstyled list-py-1 mb-0">
          <li><a class="link link-sm text-white-50" routerLink="/home" routerLinkActive>Home</a></li>
          <li><a class="link link-sm text-white-50" routerLink="/report-issue" routerLinkActive>Report issue</a></li>
          <li><a class="link link-sm text-white-50" routerLink="/track" routerLinkActive>Track status</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-3 order-md-3 mb-7 mb-md-0">
        <h5 class="text-white">Admin</h5>

        <ul class="list-unstyled list-py-1 mb-0">
          <li><a class="link link-sm text-white-50" routerLink="/admin/login" routerLinkActive>Admin login</a></li>
        </ul>
      </div>

      <div class="col-sm-6 col-md-3 order-md-1 mb-3 mb-md-0">
        <!-- Logo -->
<!--        <a class="d-inline-flex align-items-center" aria-label="ICT Support">
          <img style="height: 4rem" class="brand" src="/kustwudil_logo.png" alt="Logo">
        </a>-->
        <!-- End Logo -->
      </div>

      <div class="col-sm-6 col-md-3 order-md-4 align-self-center align-self-md-start">
        <p class="text-white-50 mb-0">&copy; {{ currentYear }}   Kano University of Science and Technology, Wudil. All rights reserved.</p>
      </div>
    </div>
    <!-- End Content -->

  </div>
</footer>
